@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body,
#app,
#app > div {
  height: 100vh;
}

body {
  background: rgb(78, 78, 78);
  background: linear-gradient(
    0deg,
    rgba(78, 78, 78, 1) 0%,
    rgb(11, 11, 11) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  height: 100%;
  overflow-y: hidden;
}

.login-container {
  margin: auto;
  padding: 20px 30px;
  height: 100%;
}

h1 {
  color: #6096b4;
  margin-top: 20%;
}

.form-login {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 20px;
  border-radius: 18px;
  border: 2px solid #aeaeae;
  padding-left: 60px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s ease-in-out;
}

input:focus {
  border: 2px solid #6096b4;
  outline: none;
}

input::placeholder {
  font-size: 14px;
  color: #aeaeae;
}

#input-id {
  background: url(../images/icon-user.png) no-repeat scroll 15px 12px;
}

#input-password {
  background: url(../images/icon-lock.png) no-repeat scroll 15px 12px;
}

button[type="submit"] {
  margin-top: 40px;
  padding: 23px;
  background: #1e1e1e;
  color: #f1f1f1;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Check page */

.attendance-container {
  margin: auto;
  text-align: center;
  margin-top: 50%;
  color: #f1f1f1;
  padding: 40px;
}

.current-time {
  font-weight: 400;
}

.attendance-action-btn {
  margin-top: 50px;
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 40px;
  font-size: 20px;
}

.login-link {
  color: #f1f1f1;
  text-align: center;
  margin-top: 40vh;
  display: block;
}

.error {
  color: rgb(250, 75, 75);
  text-align: center;
}
